.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #c90e14 ;
    background-color: #c90e14 ;
}
.page-link {
    color: #000000;
}

.page-link:hover {
    background-color: #F1A64B !important;
    color: #fff;
    border-color: #F1A64B !important;
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    border-color: rgba(201,14,20,-2) !important;
    background-color: rgba(201,14,20,0.5) !important;
}
